{% if page.header.image contains "://" %}
  {% capture img_path %}{{ page.header.image }}{% endcapture %}
{% else %}
  {% capture img_path %}{{ page.header.image | relative_url }}{% endcapture %}
{% endif %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  <div class="page__hero{% if page.header.overlay_color or page.header.overlay_image %} page__hero--overlay{% endif %}"
    style="{% if page.header.overlay_color %}background-color: {{ page.header.overlay_color | default: 'transparent' }};{% endif %} {% if page.header.overlay_image %}background-image: url('{{ img_path }}');{% endif %}"
  >
    <div class="wrapper">
      <h1 id="page-title" class="page__title" itemprop="headline">
        {{ page.title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
      </h1>
      {% if page.tagline %}
        <p class="page__lead">{{ page.tagline | markdownify | remove: "<p>" | remove: "</p>" }}</p>
      {% endif %}
      {% include page__meta.html %}
      {% if page.header.cta_url %}
        <p><a href="{{ page.header.cta_url | relative_url }}" class="btn btn--primary">{{ page.header.cta_label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a></p>
      {% endif %}
    </div>
  </div>
{% endif %}
