---
---

/* Hier können Sie die Standardstile des Minimal Mistakes Themes überschreiben */

.page__content {
  font-size: 1em;
}
.page__content p,
.page__content li {
  font-size: 0.9em;
}

.page__title {
  font-size: 2.5em;
}
h1 {
  color: #0066cc;
}
h2 {
  color: #0077cc;
}

a:hover {
  text-decoration: underline;
}

.page__footer {
  color: #fff;
  background-color: #333;
}

@media (max-width: 768px) {
  .page__title {
    font-size: 1.8em;
  }
}
